<div class="row">
  <div class="col-10">
    <h6>Bem vindo(a) aos</h6>
    <h5><b>Sistema TI</b></h5>
  </div>
  <div class="col-2" style="text-align: right">
    <button (click)="register()" type="button" class="btn btn-pmz btn-sm btn-outline-primary">Novo Cadastro</button>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-12">
    <div class="col-12 client-list">
      <table class="table table-head-client">
        <thead>
          <tr>
            <th style="width: 20%">Código</th>
            <th style="width: 35%">Nome Completo</th>
            <th style="width: 25%">Registro</th>
            <th style="width: 20%" colspan="2"></th>
          </tr>
        </thead>
      </table>
      <table class="table table-body-client table-hover">
        <tbody>
          <tr *ngFor="let cliente of clientes" [ngClass]="{active: clienteBean == cliente}" (click)="setClienteBean(cliente)">
            <td style="width: 20%">{{ cliente.getCodigo() }}</td>
            <td style="width: 35%">{{ cliente.getNome() }}</td>
            <td style="width: 25%">
              <span [hidden]="!cliente.isAtivo()">
                <i class="circle-status" style="background-color: limegreen"></i>
                &nbsp;Ativo
              </span>
              <span [hidden]="cliente.isAtivo()">
                <i class="circle-status" style="background-color: red;"></i>
                &nbsp;Inativo
              </span>
            </td>
            <td style="width: 10%">
              <button type="button" (click)="editing=true" [hidden]="clienteBean != cliente" class="btn btn-pmz btn-sm btn-outline-primary">Editar</button>
            </td>
            <td style="width: 10%">
              <button type="button" [hidden]="clienteBean != cliente" class="btn btn-pmz btn-sm btn-outline-primary">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>